<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-nav">
            <a class="navbar-brand" href="{% url 'mobile_list' %}">Home</a>
            <a class="navbar-brand" href="{% url 'add_brand' %}">Add-brand</a>
            <a class="navbar-brand" href="{% url 'add_phone' %}">Add_phone</a>
            <a class="navbar-brand" href="{% url 'api:api-list' %}">API</a>
            <a class="navbar-brand" href="{% url 'schema-swagger-ui' %}">Swagger</a>
        </div>
    </div>
</nav>